$primary: #C9DA2B;
$gray: #F9F9F9;
$gray-light: #9A9A9A;
$dark: #272727;

.banner-sec.contact {
  padding-top: 172px;
  padding-bottom: 60px;
  .main-wrapper {
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 16px 4px #00000020;
    padding: 8px;
  }
  .contact-wrapper {
    background: center /cover no-repeat;
    width: 100%;
    height: 646px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    .sub-title {
      font-size: 24px;
      font-weight: 600;
      color: white;
      margin-bottom: 50px;
    }
    .contact-links {
      .link {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        .icon {
          background-color: #323232;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
        }

        .text {
          font-weight: 600;
          color: white;
          text-decoration: none;
        }
      }
    }

    .social-links {
      display: flex;
      align-items: center;
      gap: 24px;
      flex-wrap: wrap;

      .icon {
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        transition: all 0.3s ease;

        &:hover {
          background-color: $primary;
        }
      }

      .icon1 {
        background-color: $primary;

        &:hover {
          background-color: white !important;
        }
      }
    }
  }
  .form-wrapper {
    padding: 40px;
    .form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      > *:nth-child(n+5) {
        grid-column: 1 / -1;
      }
      .submit-btn {
        width: fit-content;
        height: fit-content;
        background-color: $primary;
        border-radius: 10px;
        padding: 12px 63px;
        font-size: 18px;
        font-weight: 600;
        border: 1px solid $primary;
        transition: all 0.3s ease;
        margin-left: auto;

        &:hover,
        &:focus {
          background-color: #b3c41d;
        }
      }
    }
  }
  .input-wrapper {
    input,
    textarea {
      max-height: 45px;
      width: 100%;
      border-radius: 10px;
      border: 1px solid #DADADA;
      padding: 12px;
      outline: none;
      transition: all 0.3s ease;
      overflow: hidden;
    }
    textarea {
      min-height: 129px;
    }
    input:hover,
    input:focus,
    textarea:hover,
    textarea:focus {
      border-color: $primary;
      outline: none;
      box-shadow: none;
    }
  }
  input[type="number"],
  input[type="tel"]::-webkit-inner-spin-button,
  input[type="number"],
  input[type="tel"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .iti__selected-dial-code {
    font-weight: 600;
    color: #333;
    margin-left: 6px;
  }
}

/* Media Query */ 
@media (max-width: 992px) {
  .banner-sec.contact {
    .contact-wrapper {
      max-width: 480px;
      margin: 0 auto;
    }

    .form-wrapper{
      padding: 12px !important;
    }

    .form {
      grid-template-columns: 1fr !important;
      display: flex !important;
      flex-direction: column !important;
    }
  }
}
