$primary: #C9DA2B !important;
$gray: #F9F9F9 !important;
$gray-light: #9A9A9A !important;
$dark: #272727 !important;
$danger: #DC2626;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  background-color: white;
  box-shadow: 0 4px 14px 0 #00000025;
  .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    .logo{
      flex: 1;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 3;
      .buttons{
        flex: 1;
        display: flex;
        justify-content: end;
      }
      .icon-link{
        background-color: #F9F9F9;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 37px;
      }
    }
    .menu-links {
      background-color: $gray;
      padding: 5px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 20px;
      list-style: none;
      transform: translateX(-36px);
      li {
        a {
          text-decoration: none;
          color: $dark;
          font-weight: 600;
          padding: 10px 20px;
          border-radius: 10px;
          transition: all 0.3s ease;
          display: block;
          &.active {
            background-color: $dark;
            color: white !important;
          }
          &:hover {
            background-color: $dark;
            color: white !important;
          }
        }
      }
    }
  }
  .hamburger {
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    .line {
      width: 100%;
      height: 3px;
      background-color: #333;
      border-radius: 2px;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    &.open {
      .line-1 {
        transform: translateY(10px) rotate(45deg);
      }
      .line-2 {
        opacity: 0;
      }
      .line-3 {
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }
}

/*Media Query */
@media (min-width: 1200px) {
  .header {
    .hamburger {
      display: none;
    }
  }
}
@media (max-width: 1200px) {
  .header {
    .header-wrapper {
      .logo {
        img {
          width: 200px;
          height: auto;
        }
      }
      .buttons {
        display: none !important;
      }
      nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 20px;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        background-color: $gray;
        max-height: 278px;
        overflow-y: auto;
        display: none;
        .menu-links {
          flex-direction: column;
          background-color: transparent;
          padding: 0;
          align-items: flex-start;
          margin-bottom: 20px !important;
          margin: 0;
          transform: translateX(0);
          li{
            a{
              padding: 10px 0 0 0;
            }
          }
        }
        .buttons {
          display: flex !important;
          justify-content: start;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    .header-wrapper {
      .logo {
        img {
          width: 180px;
          height: auto;
        }
      }
    }
  }
}
