.banner-sec {
  padding-top: 147px;
  padding-bottom: 50px;
}
.banner-sec .topbar {
  margin-bottom: 40px;
}
.banner-sec .topbar .icon {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272727 !important;
}
.banner-sec .custom-card {
  border-left: none !important;
  box-shadow: none;
  padding: clamp(12px, 3vw, 30px);
  border-radius: 25px;
}
.banner-sec .custom-card .topbar {
  margin-bottom: 30px;
}
.banner-sec .custom-card .icon {
  background-color: transparent !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #dadada;
}
.banner-sec .custom-card .list-with-dots {
  padding: 0;
  margin: 0;
  list-style: disc;
  list-style-position: inside;
}
.banner-sec .custom-card .estimated-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.banner-sec .custom-card .estimated-card {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #10BC17;
  max-width: 348px;
  width: 100%;
}
.banner-sec .custom-card .estimated-card.card-1 {
  border-color: #00BBFF;
}
.banner-sec .custom-card .estimated-card.card-1 .icon {
  background-color: #00BBFF !important;
}
.banner-sec .custom-card .estimated-card.card-1 .content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.banner-sec .custom-card .estimated-card.card-1 .content > div:first-child {
  border-right: 1px solid #00BBFF;
  padding-right: 10px;
}
.banner-sec .custom-card .estimated-card .icon {
  background-color: #10BC17 !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
}
.banner-sec .custom-card .link-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.banner-sec .custom-card .link-wrapper .icon {
  background-color: #FAFBEA;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
}
.banner-sec .custom-card .pdf-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 16px;
  border: 1px solid #dadada;
  border-radius: 10px;
  width: 100%;
}
.banner-sec .custom-card .pdf-card.card-1 .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 3px solid #F1F0F0;
  border-left-color: #C9DA2B !important;
  text-decoration: none;
}
.banner-sec .custom-card .pdf-card.card-1 .icon .percantage {
  color: #272727 !important;
  font-size: 10px;
  font-weight: 600;
}
.banner-sec .custom-card .gallery-images {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.banner-sec .custom-card .gallery-images img {
  border-radius: 10px;
  object-fit: cover;
}
.banner-sec .custom-card.card-2 {
  padding: 30px clamp(30px, 5vw, 50px) clamp(30px, 23vw, 230px) clamp(30px, 5vw, 50px);
  margin-bottom: clamp(24px, 6vw, 62px);
}

/*# sourceMappingURL=job-single.css.map */
