$primary: #C9DA2B !important;
$gray: #F9F9F9 !important;
$gray-light: #9A9A9A !important;
$dark: #272727 !important;

.banner-sec {
  padding-top: 147px;
  padding-bottom: 50px;
  .topbar {
    margin-bottom: 40px;
    .icon {
      width: 45px;
      height: 45px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $dark;
    }
  }
  .custom-card {
    border-left: none !important;
    box-shadow: none;
    padding: clamp(12px,3vw,30px);
    border-radius: 25px;
    .topbar {
      margin-bottom: 30px;
    }
    .icon {
      background-color: transparent !important;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid #dadada;
    }
    .list-with-dots {
      padding: 0;
      margin: 0;
      list-style: disc;
      list-style-position: inside;
    }
    .estimated-wrapper {
      display: flex;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;
    }
    .estimated-card {
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      border: 1px solid #10BC17;
      max-width: 348px;
      width: 100%;
      &.card-1 {
        border-color: #00BBFF;
        .icon {
          background-color: #00BBFF !important;
        }
        .content {
          display: flex;
          align-items: center;
          gap: 10px;
          > div:first-child {
            border-right: 1px solid #00BBFF;
            padding-right: 10px;
          }
        }
      }
      .icon {
        background-color: #10BC17 !important;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
      }
    }
    .link-wrapper {
      display: flex;
      align-items: center;
      gap: 15px;
      flex-wrap: wrap;
      .icon {
        background-color: #FAFBEA;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: none;
      }
    }
    .pdf-card {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
      padding: 16px;
      border: 1px solid #dadada;
      border-radius: 10px;
      width: 100%;
      &.card-1 {
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border: 3px solid #F1F0F0;
          border-left-color: $primary;
          text-decoration: none;
          .percantage {
            color: $dark;
            font-size: 10px;
            font-weight: 600;
          }
        }
      }
    }
    .gallery-images {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      img {
        border-radius: 10px;
        object-fit: cover;
      }
    }
    &.card-2 {
      padding: 30px clamp(30px,5vw,50px) clamp(30px,23vw,230px) clamp(30px,5vw,50px);
      margin-bottom: clamp(24px,6vw,62px);
    }
  }
}
