$primary: #C9DA2B;
$gray: #F9F9F9;
$gray-light: #9A9A9A;
$dark: #272727;
$danger: #DC2626;

.hero-sec {
  .image-wrapper {
    background: center /cover no-repeat;
    min-height: 100vh;
    padding: 40px 50px;
    display: flex;
    align-items: end;
    position: fixed;
    width: 50%;
  }
  .content-wrapper {
    height: 100vh;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      .form {
        display: grid;
        gap: 20px;
      }
      .icon {
        width: 80px;
        height: 46px;
        border: 1px solid #dadada;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
      }
    }
    // Account  
      .account-card {
        background-color: $gray;
        border-radius: 25px;
        padding: 20px;
        position: relative;
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .note-card{
        background-color: #00BBFF10;
        border: 1px solid #00BBFF;
        border-radius: 10px;
        padding: 21px 35px;
        font-weight: 600;
      }
    }
    .register-topbar {
      background-color: $gray;
      border-radius: 10px;
      padding: 15px;
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
    }
  }
/* Media Query */
@media (min-width:768px) {
  .input-wrapper-s1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width:992px) {
  .hero-sec {
    .image-wrapper {
      position: static;
      width: 100%;
    }
    .content-wrapper {
      padding: 20px;
      height: 100%;
      max-width: 100% !important;
      .content {
        max-width: 100% !important;
        width: 100%;
        margin: unset;
        padding: 0;
      }
    }
  }
}
@media (max-width:768px) {
  .input-wrapper-s1{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width:576px) {
  .hero-sec {
    .content-wrapper {
      .content {
        .account-wrapper {
          grid-template-columns: 1fr;
        }
        .input-wrapper-s2{
          .buttons{
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}