.banner-sec.post {
  background: #fff;
  padding: 160px 0 70px 0;
  margin: 0 auto;
}
.banner-sec.post .top-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.banner-sec.post .top-bar .icon {
  background-color: #272727;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}
.banner-sec.post .top-bar button {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
.banner-sec.post .top-bar h2 {
  font-size: 22px;
  font-weight: 600;
}
.banner-sec.post .form-section {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.banner-sec.post .form-section .left-side {
  flex: 1 1 420px;
}
.banner-sec.post .form-section .right-side {
  flex: 1 1 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner-sec.post .form-section .field-block {
  margin-bottom: 20px;
}
.banner-sec.post .form-section .field-block label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.banner-sec.post .form-section .radio-block label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
}
.banner-sec.post .form-section .radio-block input {
  width: 24px;
  height: 24px;
}
.banner-sec.post .form-section .image-box {
  border: 2px dashed #ccc;
  border-radius: 8px;
  height: 426px;
  width: 100%;
  max-width: 769px;
  background-color: rgba(39, 39, 39, 0.0196078431);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #666;
  cursor: pointer;
  width: 100%;
  padding: 20px;
}
.banner-sec.post .form-section .image-box.small {
  max-width: 371px;
}
.banner-sec.post .form-section .image-box:hover {
  border-color: #272727;
}
.banner-sec.post .form-section .image-box svg {
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
}
.banner-sec.post .form-section .summary-box {
  border: 1px solid #272727;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 15px;
}
.banner-sec.post .form-section .summary-box .summary-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 5px;
}
.banner-sec.post .form-section .summary-box .summary-row.total {
  font-weight: 600;
}
.banner-sec.post .form-section .grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.banner-sec.post .form-section .required {
  color: red;
}

.banner-sec.post {
  padding-top: 170px;
  padding-bottom: 60px;
}
.banner-sec.post .image-wrapper {
  position: relative;
  height: 100%;
}
.banner-sec.post .image-wrapper .post-img {
  border-radius: 25px;
  object-fit: cover;
  box-shadow: 0px 4px 35px 4px rgba(0, 0, 0, 0.1450980392);
  position: relative;
  z-index: -1;
}
.banner-sec.post .image-wrapper .icon-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 1;
}
.banner-sec.post .image-wrapper .icon-wrapper .icon {
  border: 1px solid #272727;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: white;
}
.banner-sec.post .radio-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.banner-sec.post .radio-wrapper .radio[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 3px solid white;
  outline: 1px solid #272727;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: transparent;
  transition: all 0.2s ease;
  margin-bottom: 0;
}
.banner-sec.post .radio-wrapper .radio[type=radio]:checked {
  background-color: #272727;
  border-color: #272727;
  border: 3px solid white !important;
  outline: 1px solid #272727;
}
.banner-sec.post .tab .nav-tabs {
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
}
.banner-sec.post .tab .nav-tabs .nav-item .nav-link {
  min-width: 185px;
  width: 100%;
  border: none;
  font-weight: 600;
  color: #9A9A9A;
  padding: 0;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}
.banner-sec.post .tab .nav-tabs .nav-item .nav-link:hover {
  background-color: transparent !important;
}
.banner-sec.post .tab .nav-tabs .nav-item .nav-link.active {
  color: #6F7818 !important;
  position: relative;
  background-color: #272727 !important;
}
.banner-sec.post .tab .nav-tabs .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 185px;
  height: 3px;
  background-color: #6F7818;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.banner-sec.post .note-card {
  border: 1px solid #00bbff;
  background: rgba(0, 187, 255, 0.0627);
  border-radius: 10px;
  padding: 10px;
}

.attachment-wrapper {
  background-color: #F9F9F9;
  border-radius: 25px;
  padding: 20px;
  padding-bottom: clamp(40px, 17vw, 170px);
}
.attachment-wrapper .attachment-box {
  width: 100%;
  min-height: 240px;
  border: 2px dashed #272727;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(39, 39, 39, 0.0196078431);
  cursor: pointer;
  transition: 0.3s;
}
.attachment-wrapper .attachment-box:hover {
  border-color: #272727;
}
.attachment-wrapper .attachment-box .upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 20px;
}
.attachment-wrapper .attachment-box .upload-content .upload-icon {
  margin-bottom: 10px;
}
.attachment-wrapper .attachment-box .upload-content .upload-icon svg {
  width: 55px;
  height: 55px;
  stroke: #272727;
  transition: 0.3s;
}
.attachment-wrapper .attachment-box .upload-content p {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
.attachment-wrapper .attachment-box .upload-content small {
  font-size: 12px;
  color: #666;
}

.documents-wrapper .document-item .remove-btn {
  background-color: #272727;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.documents-wrapper1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
}

.image-box-wrapper {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #C9DA2B;
  position: relative;
}
.image-box-wrapper div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image-box-wrapper div span {
  word-break: break-all;
}
.image-box-wrapper .remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px !important;
  height: 16px !important;
  font-size: 14px !important;
}

@media (min-width: 992px) {
  .align-lg-end {
    align-items: end !important;
  }
}
@media (max-width: 992px) {
  .documents-wrapper1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .documents-wrapper1 {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=post-detail.css.map */
