/* Hero */
.hero-sec.pricing {
  position: relative;
  z-index: 1;
  padding-top: 160px !important;
  padding-bottom: 70px !important;
  border-radius: 24px;
  overflow: hidden;
}
.hero-sec.pricing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #272727;
  opacity: 0.85;
  z-index: -1;
  display: block;
}
.hero-sec.pricing .content-wrapper {
  max-width: 890px;
  margin: 0 auto;
}

/* Pricing Section */
.pricing-sec,
.hero-sec.pricing {
  padding: 50px 0;
}
.pricing-sec .nav-tabs,
.hero-sec.pricing .nav-tabs {
  background-color: white;
  border-radius: 30px;
  padding: 2px;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 8px;
  overflow: hidden;
  border: none;
}
.pricing-sec .nav-tabs .tabs .tab-btn,
.hero-sec.pricing .nav-tabs .tabs .tab-btn {
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 8px 25px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #272727;
  border-bottom: 1px solid transparent;
}
.pricing-sec .nav-tabs .tabs .tab-btn:hover,
.hero-sec.pricing .nav-tabs .tabs .tab-btn:hover {
  background-color: #C9DA2B !important;
  color: #272727 !important;
  border-color: #C9DA2B !important;
  border-bottom: 1px solid #C9DA2B !important;
}
.pricing-sec .nav-tabs .tabs .tab-btn.active,
.hero-sec.pricing .nav-tabs .tabs .tab-btn.active {
  background-color: #C9DA2B !important;
  color: #272727 !important;
  border: 1px solid #C9DA2B !important;
  border-bottom-color: #C9DA2B !important;
}
.pricing-sec .pricing-content,
.hero-sec.pricing .pricing-content {
  display: none;
}
.pricing-sec .pricing-content.active,
.hero-sec.pricing .pricing-content.active {
  display: block;
}
.pricing-sec .price-card,
.hero-sec.pricing .price-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  height: 100%;
  border: 1px solid #dadada;
  border-radius: 25px;
  overflow: hidden;
  text-align: left;
  position: relative;
  transition: transform 0.3s ease;
}
.pricing-sec .price-card:hover,
.hero-sec.pricing .price-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.145);
}
.pricing-sec .price-card .pricing-header,
.hero-sec.pricing .price-card .pricing-header {
  border: 2px solid #C9DA2B !important;
  border-bottom-width: 10px;
  padding: 25px;
  border-radius: 25px;
  margin-bottom: 25px;
}
.pricing-sec .price-card .pricing-header .title1,
.hero-sec.pricing .price-card .pricing-header .title1 {
  font-size: clamp(20px, 2vw, 24px);
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
}
.pricing-sec .price-card .pricing-header .price,
.hero-sec.pricing .price-card .pricing-header .price {
  font-size: clamp(36px, 4vw, 48px);
  font-weight: 400;
  color: #000;
}
.pricing-sec .price-card .pricing-body,
.hero-sec.pricing .price-card .pricing-body {
  padding: 0 25px;
}
.pricing-sec .price-card .pricing-body .list-with-icon,
.hero-sec.pricing .price-card .pricing-body .list-with-icon {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.pricing-sec .price-card .pricing-body .list-with-icon li,
.hero-sec.pricing .price-card .pricing-body .list-with-icon li {
  position: relative;
  padding-left: 28px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.pricing-sec .price-card .pricing-body .list-with-icon li::before,
.hero-sec.pricing .price-card .pricing-body .list-with-icon li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  background: url("/assets/img/icons/check-green.svg") center/16px 11px no-repeat;
  width: 16px;
  height: 16px;
}
.pricing-sec .price-card .note-card,
.hero-sec.pricing .price-card .note-card {
  border: 1px solid #00bbff;
  background: rgba(0, 187, 255, 0.0627);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 25px;
}
.pricing-sec .price-card .pricing-button,
.hero-sec.pricing .price-card .pricing-button {
  padding: 20px;
}
.pricing-sec .price-card .pricing-button .btn,
.hero-sec.pricing .price-card .pricing-button .btn {
  width: 100%;
  border-radius: 10px;
  padding: 12px;
  background: #272727 !important;
  color: #fff !important;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}
.pricing-sec .price-card .pricing-button .btn:hover,
.hero-sec.pricing .price-card .pricing-button .btn:hover {
  background: #272727 !important;
  color: white;
  opacity: 0.8;
}
.pricing-sec .price-card1,
.hero-sec.pricing .price-card1 {
  border-color: #f3705a !important;
}
.pricing-sec .price-card1 .pricing-header,
.hero-sec.pricing .price-card1 .pricing-header {
  border-color: #f3705a !important;
}
.pricing-sec .price-card1 .pricing-body .list-with-icon li::before,
.hero-sec.pricing .price-card1 .pricing-body .list-with-icon li::before {
  background-image: url("/assets/img/icons/check-red.svg") !important;
}

/*# sourceMappingURL=pricing.css.map */
