$primary: #C9DA2B;
$gray: #F9F9F9;
$gray-light: #9A9A9A;
$dark: #272727;
$danger: #DC2626;

body {
  color: $dark !important;
  font-family: 'Montserrat', sans-serif !important;
}


/* Colors */
.bg-primary {
  background-color: $primary !important;
}
.text-primary {
  color: $primary !important;
}
.bg-gray {
  background-color: $gray !important;
}
.text-gray {
  color: $gray !important;
}
.text-gray-light {
  color: $gray-light;
}
.bg-dark {
  background-color: $dark !important;
}
.text-dark {
  color: $dark !important;
}
.text-danger{
  color: $danger !important;
}
.bg-danger{
  background-color: $danger !important;
}
/* Heading */
h1 {
  font-weight: bold !important;
  font-size: clamp(28px, 4vw, 48px) !important;
}
h2 {
  font-weight: 600 !important;
  font-size: clamp(24px, 3vw, 36px) !important;
}

/* Buttons */
.btn {
  padding: 12px 31px;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: all 0.3s ease;
  text-decoration: none;
  color: $dark;
  display: flex;
  align-items: center;
  gap: 8px;
  // Primary Button
  &.btn-primary {
    background-color: $primary;
    border-color: $primary;
    box-shadow: 0 4px 7px 0 #00000025;
    color: $dark !important;
    &:hover,
    &:focus,
    &:focus-visible,
    &:active,
    &:disabled,
    &:active {
      background-color: $primary !important;
      border-color: $primary !important;
      box-shadow: none !important;
      color: $dark !important;
    }
  }
  // Outline Dark Button
  &.btn-outline-dark {
    border-color: $dark;
    color: $dark;
    background-color: transparent !important;
    &:hover,
    &:focus,
    &:active,
    &:disabled,
    &.active {
      background-color: $primary;
      border-color: $primary;
    }
  }
}

/* Card */
.custom-card {
  box-shadow: 0 4px 13px 0 #00000010;
  background-color: $gray;
  border-radius: 10px;
  padding: 15px;
  border-left: 4px solid $primary;
  margin: 10px;
}

/* Styling */

.custom-select {
      position: relative;
      width: 100%;
      user-select: none;
      border: 1px solid #DADADA;
      border-radius: 10px;
      background: #fff;
      transition: all 0.3s ease;
      &:hover {
        border-color: $primary;
      }
      &.open {
        .select-arrow {
          transform: translateY(-50%) rotate(180deg);
        }
        .select-options {
          display: block;
        }
      }
      .select-selected {
        padding: 12px 40px 12px 14px;
        font-size: 14px;
        color: #333;
        cursor: pointer;
      }
      .select-arrow {
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);
        font-size: 14px;
        color: #666;
        pointer-events: none;
        transition: transform 0.3s ease;
      }
      .select-options {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border: 1px solid #DADADA;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        margin-top: 4px;
        z-index: 10;
        display: none;
        max-height: 180px;
        overflow-y: auto;
        padding: 0;
        li {
          padding: 10px 14px;
          font-size: 14px;
          color: #333;
          cursor: pointer;
          transition: background 0.2s ease;
          &:hover {
            background: #EEF4BD;
          }
        }
      }
}
.input-wrapper {
  input,
  select,
  textarea {
    max-height: 45px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #DADADA;
    padding: 12px;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
    &:hover,
    &:focus {
      border-color: $primary;
      outline: none;
      box-shadow: none;
    }
  }
}
.no-before::before {
  display: none !important;
}
/* Remove spinner buttons */
  input[type="number"],
  input[type="tel"]::-webkit-inner-spin-button,
  input[type="number"],
  input[type="tel"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}
.fs-18{
  font-size: 18px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}

/* Scroll */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: $gray-light;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;

  &:hover {
    background: #555;
  }
}