body {
  color: #272727 !important;
  font-family: "Montserrat", sans-serif !important;
}

/* Colors */
.bg-primary {
  background-color: #C9DA2B !important;
}

.text-primary {
  color: #C9DA2B !important;
}

.bg-gray {
  background-color: #F9F9F9 !important;
}

.text-gray {
  color: #F9F9F9 !important;
}

.text-gray-light {
  color: #9A9A9A;
}

.bg-dark {
  background-color: #272727 !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.text-dark {
  color: #272727 !important;
}

.text-danger {
  color: #DC2626 !important;
}

.bg-danger {
  background-color: #DC2626 !important;
}

/* Heading */
h1,
.h1 {
  font-weight: bold !important;
  font-size: clamp(28px, 4vw, 48px) !important;
}

h2 {
  font-weight: 600 !important;
  font-size: clamp(24px, 3vw, 36px) !important;
}

.text-truncate3 {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
}

/* Buttons */
.btn {
  padding: 12px 31px;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #272727;
}
.btn.btn-primary {
  background-color: #C9DA2B;
  border-color: #C9DA2B;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1450980392);
  color: #272727 !important;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:focus-visible, .btn.btn-primary:active, .btn.btn-primary:disabled, .btn.btn-primary:active {
  background-color: #C9DA2B !important;
  border-color: #C9DA2B !important;
  box-shadow: none !important;
  color: #272727 !important;
}
.btn.btn-outline-dark {
  border-color: #272727;
  color: #272727;
  background-color: transparent !important;
}
.btn.btn-outline-dark:hover, .btn.btn-outline-dark:focus, .btn.btn-outline-dark:active, .btn.btn-outline-dark:disabled, .btn.btn-outline-dark.active {
  background-color: #C9DA2B;
  border-color: #C9DA2B;
}
.btn.current-plan {
  background-color: #C9DA2B !important;
  color: #272727 !important;
}
.btn.current-plan:hover {
  background-color: #C9DA2B !important;
  color: #272727 !important;
}

/* Card */
.custom-card {
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.062745098);
  background-color: #F9F9F9;
  border-radius: 10px;
  padding: 15px;
  border-left: 4px solid #C9DA2B;
  margin: 10px;
}

/* Styling */
.custom-select {
  position: relative;
  width: 100%;
  user-select: none;
  border: 1px solid #DADADA;
  border-radius: 10px;
  background: #fff;
  transition: all 0.3s ease;
}
.custom-select:hover {
  border-color: #C9DA2B;
}
.custom-select.open .select-arrow {
  transform: translateY(-50%) rotate(180deg);
}
.custom-select.open .select-options {
  display: block;
}
.custom-select .select-selected {
  padding: 12px 40px 12px 14px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}
.custom-select .select-arrow {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #666;
  pointer-events: none;
  transition: transform 0.3s ease;
}
.custom-select .select-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #DADADA;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-top: 4px;
  z-index: 10;
  display: none;
  max-height: 180px;
  overflow-y: auto;
  padding: 0;
}
.custom-select .select-options li {
  padding: 10px 14px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background 0.2s ease;
}
.custom-select .select-options li:hover {
  background: #EEF4BD;
}

.input-wrapper input,
.input-wrapper select,
.input-wrapper textarea {
  max-height: 45px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #DADADA;
  padding: 12px;
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease;
}
.input-wrapper input:hover, .input-wrapper input:focus,
.input-wrapper select:hover,
.input-wrapper select:focus,
.input-wrapper textarea:hover,
.input-wrapper textarea:focus {
  border-color: #C9DA2B;
  outline: none;
  box-shadow: none;
}

.no-before::before {
  display: none !important;
}

/* Remove spinner buttons */
input[type=number],
input[type=tel]::-webkit-inner-spin-button,
input[type=number],
input[type=tel]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

.fs-18 {
  font-size: 18px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

/* Scroll */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #9A9A9A;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #C9DA2B;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.eye-icon.active .slash {
  stroke: none;
}

.btn-back {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272727;
}

.topbar {
  margin-bottom: 40px;
}
.topbar .icon {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272727;
}
.topbar .icon.delete {
  background-color: #DC2626 !important;
  border: transparent;
}

body .react-datepicker__month-container .react-datepicker__header .react-datepicker__current-month {
  font-size: 14px !important;
}
body .react-datepicker__day--selected,
body .react-datepicker__day--in-selecting-range,
body .react-datepicker__day--in-range,
body .react-datepicker__month-text--selected,
body .react-datepicker__month-text--in-selecting-range,
body .react-datepicker__month-text--in-range,
body .react-datepicker__quarter-text--selected,
body .react-datepicker__quarter-text--in-selecting-range,
body .react-datepicker__quarter-text--in-range,
body .react-datepicker__year-text--selected,
body .react-datepicker__year-text--in-selecting-range,
body .react-datepicker__year-text--in-range {
  color: #272727;
  background-color: #C9DA2B;
}
body .react-datepicker__day--selected:not([aria-disabled=true]):hover,
body .react-datepicker__day--in-selecting-range:not([aria-disabled=true]):hover,
body .react-datepicker__day--in-range:not([aria-disabled=true]):hover,
body .react-datepicker__month-text--selected:not([aria-disabled=true]):hover,
body .react-datepicker__month-text--in-selecting-range:not([aria-disabled=true]):hover,
body .react-datepicker__month-text--in-range:not([aria-disabled=true]):hover,
body .react-datepicker__quarter-text--selected:not([aria-disabled=true]):hover,
body .react-datepicker__quarter-text--in-selecting-range:not([aria-disabled=true]):hover,
body .react-datepicker__quarter-text--in-range:not([aria-disabled=true]):hover,
body .react-datepicker__year-text--selected:not([aria-disabled=true]):hover,
body .react-datepicker__year-text--in-selecting-range:not([aria-disabled=true]):hover,
body .react-datepicker__year-text--in-range:not([aria-disabled=true]):hover {
  color: #fff;
  background-color: rgb(28.75, 93.2196969697, 143.75);
}
body .quill .ql-toolbar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body .quill .ql-container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal.show.d-block {
  display: block !important;
  opacity: 1;
  pointer-events: auto;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.form-check-input:checked {
  background-color: #8F9B1F;
  border-color: #8F9B1F;
}

.form-check-input:focus {
  border-color: #8F9B1F;
  box-shadow: 0 0 0 0.25rem rgba(174, 253, 75, 0.25);
}

.input-wrapper .react-datepicker-wrapper {
  display: block;
  width: 100%;
}

.form-control .select2-selection__rendered {
  display: none;
}

.select2-selection {
  height: 45px !important;
  padding: 8px;
  outline: none !important;
  font-size: 14px !important;
  transition: all 0.3s ease !important;
  border-radius: 10px !important;
  border: 1px solid #DADADA !important;
}
.select2-selection:hover {
  border: 1px solid #C9DA2B;
}

.select2-results__option {
  background-color: transparent !important;
  padding: 10px 16px !important;
  font-size: 14px !important;
  color: #272727 !important;
}

.select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #EEF4BD !important;
}

.select2-search__field {
  padding: 10px 16px !important;
  font-size: 14px !important;
  color: #272727 !important;
  outline: none !important;
  border: 1px solid #dadada !important;
}

.select2-selection__arrow {
  top: 8px !important;
  right: 8px !important;
}

.banner-sec.trial {
  padding: 50px 0;
}

.dropdown.hide-arrow a:after {
  display: none;
}

.slick-slider .slick-arrow {
  top: auto;
  bottom: 0;
  transform: translate(0, 0);
}
.slick-slider .slick-arrow.slick-prev {
  left: 20px;
}
.slick-slider .slick-arrow.slick-next {
  left: 50px;
}

.slider-arrow-right-bottom .slick-slider .slick-arrow {
  z-index: 2;
  top: auto;
  bottom: 20px;
  transform: translate(0, 0);
  background-color: transparent !important;
  box-shadow: none !important;
}
.slider-arrow-right-bottom .slick-slider .slick-arrow:before {
  display: none;
}
.slider-arrow-right-bottom .slick-slider .slick-arrow.slick-prev {
  right: 60px;
  left: auto;
  background-image: url("/assets/img/icons/slider-arrow1.webp") !important;
}
.slider-arrow-right-bottom .slick-slider .slick-arrow.slick-next {
  right: 20px;
  left: auto;
  background-image: url("/assets/img/icons/slider-arrow2.webp") !important;
}

.slider-bottom-fade {
  overflow: hidden;
}
.slider-bottom-fade .slick-slider:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  height: 50%;
  width: 100%;
  background: #272727;
  background: linear-gradient(0deg, #272727 0%, rgba(39, 39, 39, 0) 100%);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.toast {
  width: 100% !important;
  max-width: 500px !important;
}

/*# sourceMappingURL=style.css.map */
